body,
html {
	font-size: 15px;
	font-family: "Inter", sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(233, 47%, 7%);
}
h1 {
	color: hsl(0, 0%, 100%);
	font-size: x-large;
}
.card {
	display: flex;
	flex-direction: column;
	width: 80%;
	background-color: hsl(244, 38%, 16%);
	border-radius: 10px;
	margin: 10%;
	max-width: 375px;
	/* gap: 0; */
	/* height: 100%; */
}
.card-image {
	background-color: hsl(277, 64%, 61%);
	height: 30%;
	border-radius: 10px 10px 0 0;
	/* z-index: 1; */
	/* opacity: 1; */
}
.card-image img {
	/* padding-top: 10px; */
	opacity: 0.7;
	height: 100%;
	width: 100%;
	border-radius: 10px 10px 0 0;
	/* z-index: 0; */
	object-fit: cover;
	/* display: block; */
	mix-blend-mode: multiply;
}
.img-mobile{
	display: block;
}
.card-content {
	padding: 10% 10% 10% 10%;
	text-align: center;
}
.card-text {
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.5;
}
.card-stats {
	color: hsla(0, 0%, 100%, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.stat-num {
	color: hsl(0, 0%, 100%);
	font-size: x-large;
	/* text-transform: uppercase; */
	/* font-family: ,sans-serif; */
	font-weight: 700;
}
.stat-text {
	text-transform: uppercase;
	font-size: small;
	margin: 5px 0;
}
.purple-text {
	color: hsl(277, 64%, 61%);
}
.stat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.attribution {
	font-size: 11px;
	text-align: center;
	width: 50%;
	color: white;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
.img-desktop {
	display: none;
}

@media (min-width: 1080px) {
	body{
		font-size: 15px;
	}
	.card {
		height: 446px;
		max-width: 1080px;
		min-width: 1080px;
		flex-direction: row-reverse;
	}
	.card-content {
		width: 50%;
		padding: 40px 50px 0 50px;
		text-align: left;
	}
	.card-text{
		padding-bottom: 0;
	}
	.card-image {
		height: 100%;
		min-width: 50%;
		border-radius: 0px 10px 10px 0;
	}
	.card-image img {
		border-radius: 0px 10px 10px 0;
	}
	.card-stats {
		flex-direction: row;
	}
	.img-desktop {
		display: inline-block;
	}
	.img-mobile {
		display: none;
	}
	h1 {
		font-size: xx-large;
	}
	.card-text {
		padding-bottom: 10%;
		padding-right: 15%;
	}
	.card-stats {
		flex-direction: row;
		justify-content: space-between;
		align-content: space-between;
		padding-right: 20%;
	}
	.stat{
		flex-direction: column;
		align-content:space-between;
	}
}

@media (max-height: 640px) {
	body {
		font-size: 10px;
	}
}
